*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  /* Шаг1:  METHOD:1 1. Расположить блок .content посередине .page. */
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  /*  margin: 133px 30px; */

  /* Шаг1:  METHOD:2 1. Расположить блок .content посередине .page. */
  /*  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
}

.result__video {
  max-width: 711px;
}

.content {
  /* Шаг1: 2. Расположить элементы .content в строку */
  display: flex;

  /* Шаг1: 2. прижав к низу вертикальной оси. */
  align-items: flex-end;

  /* Шаг1: 3. Задать горизонтальные размеры .content */
  height: 534px;

  /* Шаг1: 3. и отступы между его элементами. */
  gap: 30px;
}

.search-form {
  /* Шаг1: 4. Расположить элементы .search-form в строку. */
  display: flex;

  /* Шаг1: 4. пропорционально распределить между ними свободное пространство */
  justify-content: space-between;

  /* Шаг1: 4. прижать их к началу контейнера.  */
  align-items: flex-start;
}

.content__list {
  /* Шаг1: 5. Установить вертикальный размер для .content__list */
  height: 298px;

  /* Шаг1: 5. и добавить скролл при переполнении. */
  overflow-y: auto;
}

.content__details {
  /* Шаг1: 6. Растянуть .content__details во всю доступную ширину и высоту контейнера и добавить отступы между заголовком и зоной с карточками. */
  width: 100%;

  /* Шаг1: 6. */
  height: 100%;

  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.result__video-container {
  /* Шаг2: 1 Задать размеры контейнеру */
  width: 711px;

  /* Шаг2: 1 Задать размеры контейнеру */
  height: 386px;

  /* Шаг2: 1 добавить отступ снизу.*/
  margin-bottom: 16px;

  /* Шаг3: Прелоадеры должны появляться в двух местах: поверх .result__video-container  */
  position: relative;
}

.result__video {
  /* Шаг2: 2. Замостить видео в этот контейнер так, чтобы оно занимало всю ширину и высоту и не выходило за пределы.*/
  width: 100%;
  height: 100%;
}

.content__list {
  /* Шаг3: Прелоадеры должны появляться в двух местах: поверх .content__list. */
  position: relative;
}

.content__list-item:not(:last-child) {
  /* Шаг2: 3. Создать вертикальные отступы между элементами .content__list-item (у всех, кроме последнего)*/
  margin-bottom: 30px;
}

.content__video-card {
  /* Шаг2: 4. Расположить элементы внутри контейнера .content__video-card в строку, прижав к началу контейнера по дополнительной оси.*/
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  /* Шаг2: 5. Задать размеры .content__video-card-thumbnail и замостить в них изображение.*/
  width: 194px;
}

.content__video-card-description-container {
  /* Шаг2: 6. Сделать так, чтобы .content__video-card-description-container занимал всё доступное пространство, не занятое картинкой. */
  flex: 1;
}

.content__video-card-description-container:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.search-form__fieldset-title {
  /* Шаг4: 1. Оформить текст элементов .search-form__fieldset-title */
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;

  margin-bottom: 5px;
}

.title {
  /* Шаг4: 2. Оформить элемент .title */
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 26px;
}

.content__accent {
  /* Шаг4: 2. Оформить элемент .title и вложенный в него .content__accent*/
  color: #545050;
}

.content__card-link {
  /* Шаг4: 3. и заменить цвет текста у ссылки .content__card-link. */
  color: white;
  /* Шаг4: 3. Убрать дефолтное подчёркивание  */
  text-decoration: none;

  padding: 2px;
}

.content__card-link:focus {
  outline: 1px solid white;
}

.content__video-card-title {
  /* Шаг4: 4.Оформить текст .content__video-card-title. */
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;

  margin-bottom: 6px;
}

.content__video-card-description {
  /* Шаг4: 5. присмотреться к высоте линии в .content__video-card-description. */
  line-height: 16px;
}

.visually-hidden {
  /* Шаг 5. */
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  /* Шаг5  Сбросьте border у fieldset.*/
  border: none;
}

.search-form__checkbox-list {
  /* Шаг5 5. */
  display: flex;
}

.search-form__label {
  /* Шаг5 3.  Мы рекомендуем установить на кликабельные элементы cursor: pointer;.*/
  cursor: pointer;

  /* Шаг5 2. расставить элементы внутри .search-form__label в линию*/
  display: flex;

  /* Шаг5 2.  ширину контейнера под размер внутренних элементов.*/
  width: fit-content;
}

.search-form__label:not(:last-child) {
  margin-right: 15px;
}

.search-form__label:focus {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__label-text:hover {
  text-decoration: underline;
  /*text-underline-position: under;*/
}

.search-form__label:focus-visible {
  /*Шаг6 Текстовое поле ввода : делать границу у лейбла, который его окружает. Лейбл должен получать границу только когда у поля находится в состоянии focus-visible */
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__label:active {
  outline: 1px solid white;
}

.search-form__textfield {
  /* Шаг5 4. При вёрстке текстового поля обращайте внимание на управление размерами, границей, цветом текста, семейством шрифта, размером шрифта, фоном.
   Некоторые из этих свойств не наследуются..*/
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  padding: 2.5px 14px 2.5px 0;

  /* Шаг5 6.Текстовому полю нужно задать свойство appearance: none;. Так в разных браузерах будут нужные вам стили. Это трюк.*/
  appearance: none;
  /*safari chrome*/
  -webkit-appearance: none;
  /*mozilla*/
  -moz-appearance: none;

  /*outline: none;*/
}

.search-form__pseudo-checkbox {
  /* Шаг5 7.*/
  display: block;
  width: 19px;
  height: 19px;
  outline: 1px solid white;
  position: relative;
  margin-right: 5px;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox:after {
  /* Шаг6 Активный чекбокс */
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;

  width: 15px;
  height: 15px;
  background: white;
}

/* Кнопки  */
.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: white;

  width: 194px;
  height: 34px;
  border: 1px solid white;
  padding: 6px 0;
  width: 100%;
  background: none;

  cursor: pointer;
}

.button:active {
  font-size: 16px;
  background-color: rgba(84, 80, 80, 1);
}

.button:hover {
  text-decoration: underline;
  /*text-underline-position: under;*/
}

.button:focus {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button {
  max-width: 194px;
  align-self: flex-end;
}

.more-button {
  text-underline-position: under;
}

.content__card-link {
  /* Шаг7  Состояния карточек*/
  display: block;
  margin: 2px;
}

.content__card-link_current {
  /* Шаг7  Состояния карточек*/
  background-color: rgba(84, 80, 80, 1);
}
